header{
    height: 50%;
    width: 100%;
    text-align: center;
}
article h2{
    text-align: center;
}
.explanation{
    text-align: center;
}
.list li{
    text-align: left;
    width: 40%;
    position:relative;
    left: 45%;
}
.products-photo li{
    text-align: left;
    width: 40%;
    position:relative;
    left: 42%;
}